.form-completo{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 237, 247);
    
    margin: auto;
    text-align: center;
    
}

.bibi{
    color: #4560d6;
}

.formulario{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4560d6;
}

.container{
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: black;
}

.titulo{
    text-align: center;
    
}

hr{
    height: 40px;
}

.campo{
    margin-bottom: 15px;
}

.campo label{
    margin-bottom: 15px;
}

.campo input[type="text"],
.campo input[type="email" ],
.campo textarea{
padding: 10px;
border: #4560d6 2px solid;
border-radius: 5px;
resize: none;
}

.campo button{
    background-color: #4560d6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    border-radius: 5px;
    border-color: aliceblue;
    cursor: pointer;
}

.campo button:hover{
    background-color: rgb(185, 235, 110);
    color: #4560d6;
}

@media(max-width:600px){
    .cform-completo{
        width: 95%;
        max-width: none;
    }
}