body{
    background-color: aquamarine;
}

@media (max-width: 600px)
{
    body{
        background-color: violet;
    }
}

.contenido{
    background-color: lightblue;
    padding: 20px;
    font-size: 20px;
}

@media(max-width: 600px){
    .contenido{
        background-color: lightcoral;
        font-size: 12px;
    }
}

.contenedor{
    display: flex;
    justify-content: space-around;
}

.contenedor div{
width: 100px;
height: 100px;
background-color: skyblue;
}

.imagen-responsiva{
    max-width: 100px;
    height: auto;
}

.texto-escalable{
    font-size: 2vw;
}

/*diseño con grid layout*/
.grid-contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
}

.contenedor-columnas{
    display: flex;
}

.columna{
    flex: 1;
    padding: 20px;
    border: 5px solid black;
}

@media(max-width: 600px){
    .contenedor-columnas{
        flex-direction: column;
    }
}

